*{
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}

/* header section */
header{
    background-color: #151414;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: fixed;
    width: 100%;

    padding: 0 20px;
    z-index: 1000;
}
.logo{
    color: rgb(230, 230, 250);
    margin: 30px;
    font-size: 25px;
    padding: 10px;
}
.nav_links a{
    color: rgb(216, 191, 216);
    font-size: 20px;
    text-decoration: none;

    transition: 0.3s ease;
}
.nav_links ul{
    display: flex;
    column-gap: 40px;
    list-style: none;
    cursor: pointer;
}
.nav_links a:hover , .nav_links a.active{
    color: rgb(255, 99, 71);
    border-bottom: 2px solid rgb(255, 99, 71);
}
.menu-btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

/* home section */
.home_container{
    padding: 100px 20px;
    text-align: center;
    background-color: rgb(34, 34, 34);
}
.home_container img{
    border-radius: 50%;
    box-shadow:  22px 22px 30px #828282;
    margin-top: 70px;
    max-width: 200px;
    height: auto;
    cursor: pointer;
}
.home_container h2{
    color: rgb(216, 191, 216);
    font-size: 25px; 
    margin-top: 30px;
    animation-delay: 0.5s;
}
.home_container h1{
    color: rgb(230, 230, 250);
    margin-top: 20px;
    animation-delay: 1s;
}
.home_container h1:hover :nth-child(1){
    color: rgb(255, 99, 71);
    cursor: pointer;
}
.home_container h3{
    color: rgb(216, 191, 216);
    margin-top: 20px;
    animation-delay: 1.5s;
}
.anim{
    opacity: 0;
    transform: translateY(10px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* about section */
.about_container{
    background-color: #151414;
    margin: 30px; 
    padding: 50px;
    text-align: center;
    border-radius: 10px;
}
.about_container h3{
    color: rgb(216, 191, 216);
    font-size: 35px;
}
.about_container h3:hover{
    color: rgb(255, 99, 71);
    cursor: pointer;
}
.about_container p{
    color: rgb(230, 230, 250);
    margin: 30px;
    font-size: 18px;
}
.about_container:nth-child(2){
    padding: 40px;
}
/* .about_container{
    animation-name: fadeIn;
    animation-duration: 1s;
    transition: all 1s ease;
}
@keyframes fadeIn {
    from{ opacity: 0;}
    to{ opacity: 1;}
} */

/* total section */
.total_container{
    padding: 60px 80px;
    margin: -30px 60px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.total_have i{
    color: rgb(216, 191, 216);
    font-size: 35px;
    margin-top: 5px;
}
.total_have h4{
    color: rgb(34, 34, 34);
    font-size: 25px;
}
.total_have p{
    font-size: 18px;
    color: rgb(34, 34, 34);
}
.total_have a{
    text-decoration: none;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    color: rgb(34, 34, 34);
}
.total_have a:hover{
    color: rgb(255, 99, 71);
}

/* hr section */
hr{
    border: 4px solid rgb(209, 216, 216);
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 50%;
}

/* skills section */
.skills_container {
    padding: 50px;
    text-align: center;
}
.skills_container h3{
    color: rgb(216, 191, 216);
    padding: 50px;
    font-size: 35px;
}
.skills_container h3:hover{
    color: rgb(255, 99, 71);
    cursor: pointer;
}
.skills_div_1{
    margin: 0 60px;
    display: flex;
    justify-content: center; 
    gap: 30px;
    text-align: center;
    align-items: center;
}
.box_1{
    padding: 30px;
    width: 300px;
    background-color: rgb(34, 34, 34);
    border-radius: 46px;
    box-shadow:  5px 5px 21px #676767, -5px -5px 21px #ffffff;
}
.box_1 i{
    color: rgb(216, 191, 216);
    font-size: 40px;
}
.box_1 h4{
    color: rgb(209, 216, 216);
    margin-top: 10px;
}
.box_1 h4:hover{
    color: rgb(255, 99, 71);
}
.box_1 p{
    font-size: 18px;
    color: rgb(209, 216, 216);
    margin: 10px;
}

/* project section */
.Project_container{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    background-color: #151414;
    margin: 30px;
    border-radius: 10px;
}
.Project_container h3{
    color: rgb(216, 191, 216);
    padding: 50px;
    font-size: 35px;
}
.Project_container h3:hover{
    color: rgb(255, 99, 71);
    cursor: pointer;
}
.project_box_1{
    margin: 20px 30px;
    padding: 40px;
}
.project_box_1 img{
    border-radius: 46px;
    box-shadow:  5px 5px 21px , -5px -5px 21px #ffffff;
    padding: 40px;
    width: 100%;
    
}
.project_box_2{
    margin: 20px 30px;
    padding: 40px;
}
.detail p{
    color: rgb(230, 230, 250);
    margin: 20px;
    font-size: 15px;
}
.detail b{
    color: rgb(255, 99, 71);
}
.checkbox i{
    color: rgb(216, 191, 216);
}
.checkbox a{
    color: rgb(230, 230, 250);
    font-size: 15px;
    margin: 4px;
    text-decoration: none;
}
.checkbox a:hover{
    color: rgb(255, 99, 71);
}

/* certificate section */
.certificate_container h3{
    color: rgb(216, 191, 216);
    padding: 50px;
    font-size: 35px;
}
.certificate_container{
    text-align: center;
}
.certificate_container p{
    font-size: 25px;
    color: rgb(216, 191, 216);
}
.certificate_container b{
    color: rgb(255, 99, 71);
}
.certificate_container a{
    text-decoration: none;
    color: rgb(216, 191, 216);
    font-size: 20px;
}
.certificate_container a:hover{
    color: rgb(255, 99, 71);
}
.certificate_container i{
    color: rgb(230, 230, 250);
    font-size: 25px;
    padding: 20px;
}

/* footer section */
.footer_container{
    background-color: rgb(34, 34, 34);
    margin: 30px 0 0 0;
    text-align: center;
}
.info{
    margin: 30px;
    padding: 20px;
}
.info h3{
    color: rgb(230, 230, 250);
    font-size: 25px;
    padding: 20px;
}
.info p{
    color: rgb(216, 191, 216);
    font-size: 20px;
    padding: 10px;
}
.info p:hover{
    color: rgb(255, 99, 71);
}
.info i{
    color: rgb(230, 230, 250);
    font-size: 25px;
    padding: 10px;
}
.social_link{
    margin: 30px;
    padding: 20px;
}
.social-link a{
    color: rgb(230, 230, 250);
    font-size: 40px;
    margin: 10px;
}
.social-link a:hover{
    color: rgb(255, 99, 71);
}
.last-box{
    margin: 0 30px 0 30px;
    padding: 20px;
}
.last-box i{
    color: rgb(230, 230, 250);
}
.last-box h4{
    color: rgb(216, 191, 216);
    font-size: 18px;
    padding-bottom: 20px;
} 

/* Responsive */
@media screen and (max-width: 768px) {
    .nav_links ul {
        flex-direction: column;
        row-gap: 10px;
    }
    .nav_links ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: rgba(0,0,0,0.75);
        height: 1000vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    .nav_links li{
        margin: 40px 0;
    }
    .nav_links li a {
        font-size: 20px;
        display: block;
    }
    .nav_links a:hover , .nav_links a.active{
        color: rgb(255, 99, 71);
        background: none;
        border-bottom: none;
    }
    .menu-btn{
        display: block;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d"; /* cancel btn icon ka unicode*/
    }

    .home_container img {
        margin-top: 50px;
    }

    .about_container{
        flex-direction: column;
    }

    .total_container{
        gap: 15px;
        margin-left: -1.5px;
        width: 100%;
    }

    .skills_div_1{
        flex-direction: column;
    }

    .Project_container{
        flex-direction: column;
        text-align: center;
    }

    .certificate_container{
        flex-direction: column;
        padding: 0px 20px;
    }

    .footer_container{
        height: auto;
        flex-direction: column;
    }
}